body { margin:0; padding:0; position:relative; background-color:#040215; }
.content { background:url(../img/background.png) repeat; width:1000px; margin:auto; overflow:hidden; }
.header { width:100%; float:left; position:relative; }
.top-header { width:100%; float:left; position:relative; background:url(../img/header-footer.png) }
.logo { margin:-20px 0 0 20px; float:left; position:relative; }
.anchors { float:left; position:relative; margin:5px 0 10px 200px; }
.anchors a { font-family:'Verdana', sans-serif; text-decoration:none !important; text-transform:uppercase; color:#ffffff; font-size:10px; margin:15px 20px 0 0; font-weight:bold; }
.anchors a:hover { color:#d9edf7; }
.top-links { float:left; position:relative; margin:8px 0 0 100px; }
.top-links a { margin-right:7px; }
.account { float:right; }