body { margin:0; padding:0; position:relative; background:url('../img/back.png') repeat; }
h1 { font-size:24px; color:#040215; font-weight:bold; }
h2 { font-size:22px; color:#040215; font-weight:bold; }
h3 { font-size:20px; color:#040215; font-weight:bold; }
h4 { font-size:18px; color:#040215; font-weight:bold; }
h5 { font-size:16px; color:#040215; font-weight:bold; }
h6 { font-size:14px; color:#040215; font-weight:bold; }
.content { border:1px solid #dddddd; background:url(../img/background.png) repeat; width:1000px; margin:auto; overflow:hidden; position:relative; }
.contents { float:left; }
.header { width:100%; float:left; position:relative; background:url(../img/header.png) repeat; }
.bottom-header { float:left; position:relative; width:100%; }
.footer { width:100%; float:left; position:relative; background:url(../img/header-footer.png) repeat; }
.all-rights { margin:10px 0 20px; float:right; color:#ffffff; clear:both; }
.top-header { width:100%; float:left; position:relative; background:url(../img/header-footer.png) }
.logo { margin:-22px 0 20px 20px; float:left; position:relative; }
.anchors { float:left; position:relative; margin:5px 0 10px 200px; }
.anchors a { font-family:'Verdana', sans-serif; text-decoration:none !important; text-transform:uppercase; color:#ffffff; font-size:10px; margin:15px 20px 0 0; font-weight:bold; }
.anchors a:hover { color:#336699; }
.top-links { float:left; position:relative; margin:8px 0 0 100px; }
.top-links a { margin-right:7px; }
.top-links a:hover { opacity:0.7; filter:alpha(opacity=70); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important; }
.account { float:right; margin:10px 0 0 30px; }
.account a { float:left; font-family:'Verdana', sans-serif; text-decoration:none !important; text-transform:uppercase; color:#ffffff; font-size:10px; margin:0 20px 0 0; font-weight:bold; }
.account a:hover { color:#336699; }
.admin-panel { float:right; margin:10px 10px 10px 0; position:relative; }
.admin-panel a { float:left; position:relative; font-size:12px; text-transform:uppercase; font-weight:bold; font-family:'Verdana', sans-serif; color:#ffffff; text-decoration:none; }
.admin-panel a:last-child { margin-top:-48px; }
.admin-panel a:hover { color:#336699; }
.admin-text { margin:-40px 0 0 18px; }
#about-vadvilsa { height:400px; width:500px; }
.niceEdit-main { background-color:#add8e6; }
form div { background-color:#ffffff; }
.edit-firm { float:left; }
.edit-firm h4 { float:left; }
.edit-firm a img { float:left; margin:27px 0 0 10px; }
.edit-firm a img:hover { opacity:0.7; filter:alpha(opacity=70); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important; }
.info-form { margin:80px 0 0 80px; }
.buttons { float:left; position:relative; margin:10px 0 0 10px; text-align:center; }
button { background:url(../img/button.png) 100% -25px no-repeat; margin-bottom:10px; height:25px; padding:0; border:0; }
button:hover { opacity:0.7; filter:alpha(opacity=70); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important; }
button span { background:url(../img/button.png) 100% 0 no-repeat; height:25px !important; float:left; text-align:center; }
button a { text-decoration:none; font-weight:bold; font-family:'Verdana', sans-serif; text-transform:uppercase; color:#ffffff; line-height:25px; padding:0 7px 0 7px; }
#about { float:left; position:relative; width:960px; margin:0 20px 20px 20px; font-family:'Verdana', sans-serif; color:#040215; }
.slider{ position:relative; width:1000px; height:350px; }
.slider img{ position:absolute; left:0; top:0; display:none; width:1000px; height:350px; }
.slider img.firstslide{ display:block; }
.top-shadow { width:100%; height:5px; background:url(../img/top-shadow.png) repeat-x; }
.bottom-shadow { width:100%; height:5px; background:url(../img/bottom-shadow.png) repeat-x; }
.edit-profile { float:left; background:transparent; }
#form_ { font-weight: bold; background:none; border:0; color:#ffffff; font-family:'Verdana', sans-serif; text-transform:uppercase; line-height:24px; cursor:pointer; }
.cats { display:inline-block; float:left; list-style:none; }
.cats li { float:left; display:block; height:38px; background:#1a1a1a; }
.cats li a { text-decoration:none; background:#1a1a1a; line-height:39px; padding:10px 10px; color:#ffffff; font-family:'Verdana', sans-serif; font-size:15px; text-transform:uppercase; font-weight:bold; }
.cats li a:hover { color:#336699; }
.subcats { display:none; background:none; margin:38px 0 0 -40px; position:absolute; z-index:2; list-style:square !important; }
.subcats li { background:#1a1a1a; }
.subcats li a { background:#1a1a1a; font-size:12px; text-transform:none; padding:0 30px 0 15px; }
.products { float:left; position:relative; margin:10px 70px 30px 95px; width:942px; }
.product { float:left; position:relative; width:230px; border:1px solid #696969; background:#f5f5f5; margin:0 50px 20px 0; }
.product:last-child { margin-right:0 !important; }
.image { float:left; position:relative; width:230px; height:230px; }
.image img { width:230px; height:230px; cursor:pointer; }
.image img:hover { opacity:0.7; filter:alpha(opacity=70); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important; }
.user { width:400px; margin:auto; font-family:'Verdana', sans-serif; font-size:16px; }
.user tbody tr { margin-bottom:6px; }
.user .label { font-weight:bold; }
.edit-profile { margin:auto; }
.clearfix { width:100%; height:0; float:left; clear:both; }
.visible { display:block !important; }
.log-form label { font-size:16px; font-family:'Verdana', sans-serif; font-weight:bold; text-transform:uppercase; }
.log-form input { clear:both; }
.categories { float:left; width:100%; background:url(../img/header-footer.png); }
img { border:none !important; }
.logo-footer { float:right; position:relative; margin:15px 20px 0 0; }
.info-footer { float:left; position:relative; width:300px; }
.info-footer a { color:#ffffff; text-decoration:none; text-transform:uppercase; font-family:'Verdana', sans-serif; font-size:14px; clear:both; }
.call-us { float:left; position:relative; width:300px; color:#ffffff; }
.call-us h3 { color:#ffffff !important; }
.call-us h4 { color:#ffffff !important; }